.home-box{
	
    width: 100%;
    min-width: 1200px;
    background-image: none;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}


/**
 * 轮播图及标题
 */
.header{
	font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    min-width: 1200px;
    z-index: 1001;
}
.navbar-brand {	
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px 34px;
}
.logo{
	left: 50% ! important;
    margin-left: -63px ! important;
    position: absolute ! important;
    vertical-align: middle;
}
.logo img{
	display: block;
}
#home-slider{
	min-height: :;00px;
	width: 100%;
	min-width: 1200px;
}

#header-title{
	left: 50%;
	width: auto;
	margin-top: 150px;
}

#header-title ul{
   
    text-align:left;
	zoom:1;
	display:inline-block;
	*display:inline;
	margin: 30px 0px 0px;
}

#header-title ul li {
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    margin-right: 10px;
    display: block;
    padding: 15px 17px 15px 16px;
}


#header-title .menu-item a {
    border-bottom: 3px solid transparent;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 6px;
    text-shadow: 0px 0px 1px transparent;
    text-transform: lowercase;
    
}

#nav  .current a{
	border-bottom: 2px solid #ffffff;
}

#header-title .menu-item a {
    padding-top: 13px;
    padding-bottom: 13px;
}
#header-title .menu-item.current a, #header-title .menu-item a:hover {
    background-color: transparent;
    border-bottom-color: #ed6d00;
    text-shadow: 0px 0px 1px transparent;
}
#owl-main .owl-pagination {
    display: block;
    overflow: hidden;
    position: relative;
    top: -150px;
    width: 100%;
    min-width: 1200px;
    z-index: 9999;
}

#owl-main .owl-item {
     overflow: hidden;
}


#owl-main img {
	min-width: 1200px;
    top: 0px;
}

.slide-content {
    bottom: 10px;
    display: table-cell;
    height: 200px;
    line-height: 200px;
    min-width: 1200px;
    left: 0px;
    margin: auto;
    position: absolute;
    right: 0px;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
}
.slide-content {
    bottom: -250px ! important;
}



#owl-main-text {
    margin-bottom: 0px;
    margin-top: -350px;
}

#owl-main-text h2 {
    color: #fff;
    font-family: "Roboto";
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: -10px;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
}


#owl-main-text .item {
    padding-bottom: 58px;
    position: relative;
}

/**
 * 子标题
 */
#nav-mini{
	position: fixed;
	left: 0;
    top: 0;
    width: 100%;
    min-width: 1200px;
    background-color: #45413f;
    z-index: 9999;
}
#nav-mini-img{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 20%;
	
}

#nav-mini-img img{
	display: inline-block;
	left:20%;
	
}

#nav-mini ul{
	text-align:left;
	zoom:1;
	display:inline-block;
	*display:inline;
}

#nav {
    padding-top: 10px;
    /*text-align: center;*/
    list-style-type: none;
    font: 14px Tahoma,Helvetica,Arial,"宋体";
    font-size: 0;
    float: right;
    
}


#nav li {
    display: inline-block;
    margin: 0 5px;
    float: left;
    padding-left: 20px;
    
    list-style: none;
    position: relative;
    text-align: center;
    margin-right: 10px;
    display: block;
    zoom: 1;
}

#nav a {
    display: inline-block;
    padding-top:10px;
    padding-bottom: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    zoom: 1;
    font-size: 14px;
}

.product-box{
	min-height: 800px;
	margin-top:40px ;
    width: 100%;
    min-width: 1200px;
    background-image: none);
}

.subtitle{
	color: #000000;
    font-size: 25px;
    padding-top: 10px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.block3 {
    background: url(../img/product/product_bg.jpg) no-repeat center top;
    height: 554px;
    overflow: hidden;
}

.block3 ul {
    width: 1076px;
    height: 485px;
    margin: 34px auto 0;
}

.block3 ul li {
    float: left;
    width: 100px;
    height: 485px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    -webkit-transition: width .6s;
    -moz-transition: width .6s;
    -ms-transition: width .6s;
    -o-transition: width .6s;
    transition: width .6s;
}

.block3 ul #feature5 .s,  .block3 ul #feature1 .s, .block3 ul #feature2 .s, .block3 ul #feature3 .s, .block3 ul #feature4 .s {
    background-image: url(../img/product/products.png)
}

.block3 ul li .s {
    width: 100px;
    height: 485px;
    -webkit-transition: width .6s;
    -moz-transition: width .6s;
    -ms-transition: width .6s;
    -o-transition: width .6s;
    transition: width .6s;
    float: left;
}
.block3 ul li .big {
    float: left;
    height: 485px;
    -webkit-transition: width .6s;
    -moz-transition: width .6s;
    -ms-transition: width .6s;
    -o-transition: width .6s;
    transition: width .6s;
    width: 0;
}

.block3 ul li.current{
	width:661px;
	cursor:auto
}
.block3 ul li.current p{
	display:block
}
.block3 ul li.current .s{
	width:0
}
.block3 ul li.current .big{
	width:661px;
}



.block3 ul #feature1 .s {
    background-position: -800px 0px;
}
.block3 ul #feature1 .s {
    background-position: -800px 0px;
}

.block3 ul #feature1 .s {
    background-repeat: no-repeat;
}


.block3 ul #feature1 .big {
    background: url(../img/product/shenghao.png) no-repeat left top;
}


.block3 ul #feature2 .s {
    background-position: -800px -485px;
}

.block3 ul #feature2 .s {
    background-repeat: no-repeat;
}

.block3 ul #feature2 .big {
    background: url(../img/product/huotui.png) no-repeat left top;
}


.block3 ul #feature3 .s {
    background-position: -800px -970px;
}

.block3 ul #feature3 .s {
    background-repeat: no-repeat;
}
.block3 ul #feature3 .big {
    background: url(../img/product/fish.png) no-repeat left top;
}

.block3 ul #feature4 .s {
    background-position: -800px -1455px;
}

.block3 ul #feature4 .s {
    background-repeat: no-repeat;
}
.block3 ul #feature4 .big {
    background: url(../img/product/xia.png) no-repeat left top;
}

.block3 ul #feature5 .big {
    background: url(../img/product/drink_in.png) no-repeat left top;
}

.block3 ul #feature5 .s {
    background-position: -574px 0px;
}

.block3 ul #feature5 .s {
    background-repeat: no-repeat;
}



.discount{
	padding-top: 40px;
	width: 100%;
    min-width: 1200px;
	background-color: #f2f2f2;
}

.servicesBox {
	width: 960px;
    min-width: 1000px;
    height: 440px;
    margin: 0 auto;
    clear: both;
    line-height: 400px;
    color: #999999;
    font-size: 12px;
}
.servicesBox .serBox {
	cursor:pointer;
	display:inline;
	width:24%;
	height:400px;
	float:left;
	overflow:hidden;
	position:relative;
	padding-right: 10px;
}

.servicesBox .serBox .pic1 {
	width:100%;
	height:110px;
	text-align:center;
	top:22px;
	right:41px;
	z-index:99;
}

.servicesBox .serBoxOn {
	font-family:"微软雅黑";
	display:none;
	width:96%;
	height:400px;
	background:#f18a33;
	position:absolute;
	opacity: 0.9;
	filter:alpha(opacity=90); 
	left:0px;
	top:0px;
	z-index:19;
}
.serBoxOn p{
	color:#ffffff;
	line-height:30px;
	font-family:"微软雅黑";
	font-size: 18px;
}

.serBox .main-title{
	margin-top: 35%;
}

.serBox .sub-title{
	text-align: center;
	padding-top: 20px;	
}

.serBoxOn .sub-img{
	width: 60%;
	text-align: center;
	margin: 0 auto;
	
 
}
.serBoxOn .sub-img-box{
	width: 100%;
	padding-top: 20px;
	text-align: center;
	height: 100px;
	line-height: 100px;
}


/*微商城*/
.shop-box{
	min-height: 1000px;
	margin-top:50px ;
    width: 100%;
    min-width: 1200px;
    background-image: none);
}

.shop-show-box{
	width: 100%;
	text-align: center;
	
	/*background-color: #45413f;*/

}
.shop-show-box .shop-qrcode{
	float: left;
	width: 150px;
	margin-left: 10%;
	margin-top:150px;
	;
}


.shop-show{
	width: 100%;	
	
	text-align: center;
	margin: 0 auto;
}


.what-max-box {
    height: 900px;
    /* background-color: #2b282b; */
    background-image: url("../img/shop/bg.jpg");
   background-size: 100%;
    
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/shop/bg.jpg',  sizingMethod='scale');
    -moz-background-size:100%;
    background-repeat: no-repeat;
    
    +background-repeat:repeat-y;
    _background-repeat:repeat-y;
    background-repeat:repeat-y\9;
    background-position:0px 300px;
    background-position: 0px\9 300px\9;
    +background-position: 0px 300px;
    _background-position:0px 300px;
}

.dwf-cont-box {
    width: 1210px;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}

.sj-content {
    left: 435px;
    top: 290px;
    width: 325px;
    height: 580px;
    text-align: right;
    overflow: auto;
    position: absolute;
    z-index: 1;
}
.sj-content img {
    vertical-align: bottom;
}
.slideBox11 {
    width: 100%;
    height: 580px;
    overflow: hidden;
    position: relative;
}

.slideBox11 .bd {
    position: relative;
    overflow: hidden;
    height: 100%;
    z-index: 0;
}

.slideBox11 .bd li {
    overflow: auto;
    height: 580px;
    float: left;
    width: 340px;
}


.slideBox11 .bd li p {
    height: 100%;
}
.slideBox11 .bd li img {
    width: 100%;
    
}
.what-img {
    position: absolute;
    left: 400px;
    
}
.slideBox11 .prev, .slideBox11 .next {
    position: absolute;
    left: 2%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(http://www.ecmoban.com/content/themes/ecmoban2014/images/goods-direction.png) -110px 5px no-repeat #000;
    filter: alpha(opacity=10);
    opacity: 0.1;
}
.slideBox11 .next {
    left: auto;
    right: 2%;
    background-position: 8px 5px;
}

/**
 * 自媒体
 */
.video-box{
	min-height: 600px;
	margin-top:50px ;
	min-width: 1200px;
    width: 100%;
}


.video {
    background-image: url("../img/video/video_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
   
    width: 100%;
    width: 100%;
    min-height: 400px;
}


.video .container {
    vertical-align: middle;
}

.container {
    margin: 0px auto;
    padding-top: 140px;
    width: 100%;
}

.video .jt_row {
    padding-bottom: 90px;
}

.video p {
    font-family: "微软雅黑";
    font-size: 26px;
    margin-top: 30px;
    padding: 0px 24%;
    position: relative;
    text-transform: uppercase;
}

.video h3::before {
    background-color: #ffffff;
    bottom: -25px;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.center {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.column_container{
	position: relative
}
/**
 *服务特色 
 */
.service-box{
	min-height: 600px;
	margin-top:50px ;
    width: 100%;
    min-width: 1200px;
    background-image: none;
    margin: 0px auto;
}


.dtqw-min-box {
    width: 100%;
    height: 400px;
    margin: 0px auto;
    /*padding-top: 200px;*/
}


.dtqw-min-box a{
   display: block;
}

.dtqw-min-box .dtqw-header-box {
    overflow: hidden;
    height: 200px;
    position: relative;
 
}



.dtqw-cont-box1{
    background-position: 0px 0px;
    float: left;
    width: 25%;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.dtqw-cont-box-img{
	 width: 90px;
	 margin: 0 auto;
    
}

.dtqw-cont-box1 span{
    font-size: 18px;
    color: #d1d1d1;
}

.on span{
    font-size: 18px;
    color: #45413f;
}

.dtqw-min-box .content {
    overflow: hidden;
    width: 890px;
    height: 200px;
    position: relative;
    left: 8%;
}

.dtqw-min-box .content ul{ position:absolute; left:0; top:0; height:160px;}
.dtqw-min-box .content li{ width:890px; height:100px; float:left;}
.dtqw-min-box .content li p{ padding-left: 5px;padding-top: 25px;color:#45413f;font-size:16px;text-align:left;}

.business-box{
	min-height: 640px;
	margin-top:50px ;
    width: 100%;
    min-width: 1200px;
    background-image: none);
}

.business-img-presentation {
	float: left;
    padding-left: 0px;
    width: 50%;
    min-height:300px ;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
}

.business-desc-presentation {
	float: right;
    width: 50%;
    +width:49%;        /*ie7*/
    _width:49%;
    min-height:300px ;
    text-align: center;
    
}

.business-desc-presentation .sub-title {
    color: #45413f;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 0px 15%;
    text-align: left;
    font-size: 20px;
}

.business-desc-presentation .sub-content p {
    font-size: 13px;
    line-height: 100%;
    height: 100%;
    padding: 0px 15%;
    text-align: left;
    color: #45413f;
}

.fix-img{
	width: 100%;
	min-height: 200px;
}

.aboutus-box{
	min-height: 600px;
	margin-top:50px ;
    width: 100%;
    min-width: 1200px;
    background-image: none;
}


.abount-sub-content{
	width: 100%;
	min-height: 600px;
	
}
.about-img-presentation {
	float: right;
    padding-left: 0px;
    width: 50%;
    +width:49%;        /*ie7*/
    _width:49%;
    min-height:600px ;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
}

.about-desc-presentation {
	float: left;
    width: 50%;
    height: auto;
    background: #45413f;	
    min-height:493px ;
    min-height:489px\9 ;
    +min-height:485px ;
    _min-height:485px ;
    text-align: center;

}

.about-desc-presentation .sub-title {
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}
.about-desc-presentation .sub-content{
	padding-bottom: 34px;
}
.about-desc-presentation .sub-content p {
    font-size: 15px;
    line-height: 30px;
    padding: 0px 13%;
    text-align: center;
    color: #ffffff;
}

.about-desc-presentation h3{
	font-size: 18px;
	color: #ffffff;
	font-family: "微软雅黑";
}

.footer{
    width: 100%;
   min-width: 1200px;
    margin: 0 auto;
    min-height: 150px ;
    margin-top: 150px;
    margin-bottom: 50px;
    border-top: 2px solid #f2f2f2;
}

.footer-box{
     width: 1200px;
	margin: 0px auto;
}

.footer-logo{
	float: left;
	margin-top: 40px;
	width: 15%;
}
.footer-logo-contact{
	
	font-size: 11px;
	height: 45px;
	line-height: 45px;
	margin-left: 20px;
	width: 100%;
}
.footer-logo-contact p{
	float: left;
	height: 45px;
	line-height: 45px;
    text-align: center;
    
}
.footer-logo-contact img{
	padding-left: 15px;
	vertical-align: middle;
}

.footer-other{
	float: right;
	width: 80%;
	margin-top: 40px;
	margin-bottom: 50px;
}

.footer-other-introduct{
	width: 100%;
	float: right;
}

.footer  dl {
    float: left;
    min-width: 50px;
    text-align: left;
    margin-left: 30px;
  
   
}

.about-us-text{
	float: left;
}
.wx-img{
	float: left;
}
.wb-img{
	float: left;
}


.introduct-box{
	margin-left: 20px;
}


.footer-other .line{
	float: left;
	padding-left: 20px;
}

.footer  dl dt {
    color: #45413f;
    margin-bottom: 15px;
    font-size: 18px;
}

.footer  dl dd {
    line-height: 25px;
    color: #45413f;
    font-size: 12px;
}

.footer  a{
	color: #45413f;
}

.footer-other-img{
	margin-left: 20px;
	text-align: center;
}

.footer-other-img span{
	font-size: 12px;
    line-height: 30px;
    padding-left: 15%;
    +padding-left: 0%;
    _padding-left: 0%;
    text-align: center;
    color: #45413f;
}
.company{
   width: 100%;
   margin-top: 150px;
 min-width: 1200px;
   background: #45413f;
   vertical-align: middle;
   text-align: center;
}
 
.company .sub-title {
    color: #ffffff;
    /*letter-spacing: 2px;
    */
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 15px;
}

#sidebar {
    position: fixed;
    width: 150px;
    height: 534px;
    /*background: url(http://res.qn.netease.com/pc/gw/20160803200535/img/box_sidebar_331abb1.png) no-repeat left top;*/
    right: 0;
    top: 50%;
    margin-top: -267px;
    z-index: 9999;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
#sidebar .sidebar-btn {
    position: absolute;
    left: -24px;
    width: 24px;
    top: 132px;
    height: 58px;
    padding-top: 3px;
    background: #ee6700;
    color: #fff;
    text-align: center;
}

#sidebar .sidebar-btn em {
    width: 24px;
    display: inline-block;
    text-align: center;
}
#sidebar .sidebar-btn .icon {
    margin: 0 auto;
    margin-top: 3px;
}

#content i, #sidebar i, #content em, #sidebar em {
    font-weight: 400;
    font-style: normal;
}

#content .more:hover i, .icon26, .icon2, .icon1 {
    /*background-image: url(http://res.qn.netease.com/pc/gw/20160803200535/img/spriter/style_z_7ff5960.png);*/
}

#sidebar .sidebar-box {
    padding-top: 110px;
}

#sidebar .sidebar-code {
    background-position: -170px -350px;
}
#sidebar .sidebar-code {
    width: 150px;
    height: 170px;
    background-repeat: no-repeat;
}

@media only screen and (max-height: 1024px)
{
   .slide-content {
     bottom: -200px ! important;
   }

}

@media only screen and (min-device-height: 900px)
{
   .business-box{
     min-height: 900px;
   }
   .about-desc-presentation{
   	min-height: 700px;
   }
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px)
{
  .slide-content {
    height: 350px;
    bottom: 0px ! important;
   }
}
@media only screen and (max-device-width: 568px) and (min-device-width: 320px){
	.slide-content {
      height: 350px;
      bottom: 0px ! important;
   }
   
}
